    <div class="postform" align="center">
      <br />
      <table cellspacing="1" cellpadding="0">
        </tr>
        <tr><td class="board_description" colspan="2">${board_description}</td></tr>
      </table>
      <br />
    </div>