${base_head}
<br />
${news}
    <br />
    <div class="sitetitle"><h2>What the fuck is this?</h2></div>
    <div class="thread">
      <div class="message">
        <span class="message_span">${help}</span>
      </div>
    </div>
${base_footer}
