      <div class="message" id="${articlehash}">
        <a href="img/${imagelink}" class="image_link" target="_blank" title="${imagename}"><img src="thumbs/${thumblink}" class="image" />${play_button}</a>
        <a name="${articlehash}"></a><span class="topicline"><b>${subject}</b> ${author} <span class=published>${sent}</span>  <a href="thread-${parenthash}.html#${articlehash}" onclick="return highlight('${articlehash}');">&#8470;</a> ${child_quickreply}</span>
${signed}        <div class="stillevil">
${evil_child_pic}
        </div><br />
        <span class="frontend">[ ${frontend} ]</span>
        <br /><br />
        <span class="message_span">${message}</span>
        <br style="clear: both;"/>
      </div>
