<div class="message" id="${articlehash}">
  <div class="message_filepart">
    <a href="img/${imagelink}" class="image_link" target="_blank" title="${imagename}">
      <img src="thumbs/${thumblink}" class="image_root" ${thumb_info} />${play_button}
    </a>
  </div>
  <p class="intro">
    <a name="${articlehash}"></a>
    <span class="topicline">
      <b>${subject}</b> ${author}
      <span class=published>${sent}</span>
      <a href="thread-${parenthash}.html#${articlehash}" onclick="return highlight('${articlehash}');">&#8470;</a>
    </span>
    ${signed}
    <span class="frontend">[ ${frontend} ]</span>
    <span class="stillevil">${evil_child_pic}</span>
  </p>
  <div class="overchan_body">
    ${message}
  </div>
</div>
<br />
