      <div class="messageroot" id="${articlehash}">
        <div class="message_filepart">
          <a href="img/${imagelink}" class="image_link" target="_blank" title="${imagename}">
            <img src="thumbs/${thumblink}" class="image_root" ${thumb_info} />${play_button}
          </a>
        </div>
        <p class="intro">
          <a name="${articlehash}"></a>
          <span class="topicline">
            <b>${subject}</b> ${author}
            <span class=published>${sent}</span>
            ${root_quickreply}
            <a href="thread-${articlehash}.html">[${click_action}]</a>
            <span class="frontend">${thread_status}</span>
          </span>
          ${signed}
          <div class="stillevil">${evil_root}</div>
          <span class="frontend">[ ${frontend} ]</span>
        </p>
        <div class="overchan_body">
          ${message}
        </div>
      </div>
      <br />