    <div class="news">
      <div class="header"><div class="topicline"><b class="subject">${subject}</b><span class="published">${sent}</span></div><input type="checkbox" class="sig_chk" id="sign${parent}"><span class="sig_key">${pubkey}</span>&nbsp;<span class="author">${author}</span>&nbsp;<label title="signed message, click to show full public key" class="sig_label" for="sign${parent}">${pubkey_short}</label></div>
      <div class="message_span">${message}</div>
      <div class="footer"><a href="thread-${parent}.html">${comment_count}&nbsp;comments</a>&nbsp;&nbsp;<a href="${allnews_link}">all news</a></div>
    </div>