<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>${title} :: Overview</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="user.css" type="text/css">
  </head>
  <body>
    <div class="boards">[${boardlist}]</div>
    <hr />
    <div class="sitetitle">
      <h2><a href="overview.html">${title}</a></h2>
      <b>decentralized and distributed</b>
    </div>
      <a href="help.html" class="lblhelp">info</a>
${news}
    <table class="activity" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td class="usage_td">
${stats_usage}
        </td>
        <td class="post_td" align="center">
${latest_posts}
        </td>
        <td class="board_td">
${stats_boards}
        </td>
      </tr>
    </table>
  </body>
</html>
