${head_overview}
      <a href="help.html" class="lblhelp">info</a>
${news}
    <table class="activity" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td class="usage_td">
${stats_usage}
        </td>
        <td class="post_td" align="center">
${latest_posts}
        </td>
        <td class="board_td">
${stats_boards}
        </td>
      </tr>
    </table>
  </body>
</html>
