${head_single}
    <center><b>${board} :: ${subject}</b></center>
${single_postform}
${base_help}
${thread_single}
    <hr style="clear: both;">
    <a name="end_of_page"></a>
    </form>
    <div class="boards">[${boardlist}]</div>
    <hr />
  </body>
</html>
