        <tr>
          <td>${command}</td>
          <td>${send}</td>
          <td>${received}</td>
          <td>${replayable}</td>
          <td class="actions"><a href="commands?${command}">modify</a></td>
        </tr>