    <input type="checkbox" class="evilmod" title="evil mod" />
    <form method="POST" action="/moderate?evil" enctype="multipart/form-data">
    <div class="evilstuff">
      <label>secret</label>
      <input type="hidden" name="target" value="${target}" />
      <input type="text" title="secret" name="secret" class="posttext" />
      <input type="submit" value="be evil" class="postbutton" />
    </div>
