<html>
  <head>
    <title>SRNd info</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <link type="text/css" href="/censor.css" rel="stylesheet">
  </head>
  <body class="mod">
    ${navigation}
    <div class="box">
${status}      <b>Start time: </b>${start_time_human} (${start_time_raw})<br />
      <b>CPU usage: </b>${cpu_usage}%<br />
      <b>RAM usage: </b>${ram_human} (${ram_raw})<br />
      <b>Disk free: </b>${disk_free_human} (${disk_free})<br />
      <b>Disk used: </b>${disk_used_human} (${disk_used})<br />
    </div>
    <br />
    <div class="box">
      <b>Active plugins: </b>${plugins_count}
      <table border="0px" class="datatable">
        <tr><th>name</th><th>&nbsp;queue</th><th>&nbsp;transfer</th><th>&nbsp;speed</th><th>&nbsp;status</th><th>&nbsp;actions</th></tr>
${plugins}
      </table>
    </div>
    <br />
    <div class="box">
      <b>Infeeds: </b>${infeeds_count}
      <table border="0px" class="datatable">
        <tr><th>name</th><th>&nbsp;queue</th><th>&nbsp;transfer</th><th>&nbsp;speed</th><th>&nbsp;status</th><th>&nbsp;actions</th></tr>
${infeeds}
      </table>
    </div>
    <br />
    <div class="box">
      <b>Outfeeds: </b>${outfeeds_count}
      <table border="0px" class="datatable">
        <tr><th>name</th><th>&nbsp;queue</th><th>&nbsp;transfer</th><th>&nbsp;speed</th><th>&nbsp;status</th><th><a href="?action=reload&hook=outfeed">reloads</a></th></tr>
${outfeeds}
      </table>
    </div>
    <br />
    <div class="box">
      <b>Active Hooks: </b>${hooks_count} <a href="?action=reload&hook=hooks">reloads</a>
      <span class="message_span">
${hooks}
      </span>
    </div>
${help}
  </body>
</html>
