        <tr>
          <td>${name}</td>
          <td>${queue}</td>
          <td>${transfer_human}</td>
          <td>${speed_human}/s</td>
          <td>${state}</td>
          <td class="actions">${actions}</td>
        </tr>