<html>
  <head>
    <title>key stats</title>
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <link type="text/css" href="/censor.css" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body class="mod">
    %%navigation%%
    <div class="box">
      <b>known public keys</b>
      <table border="0px" class="mod_log">
        <tr>
          <th>&nbsp;</th>
          <th class="data_center">local_alias</th>
%%flag_names%%
          <th>&nbsp;</th>
        </tr>
%%mod_whitelist%%
      </table>
    </div>
    <br />
    <div class="box">
      <b>key stats</b>
      <table border="0px" class="keys_all">
        <tr>
          <th>&nbsp;</th>
          <th class="data_center">local_alias</th>
          <th class="data_center" colspan="2">accepted_by_trusted_keys</th>
          <th>&nbsp;</th>
        </tr>
%%mod_unknown%%
      </table>
    </div>
  </body>
</html>
