<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>messagelog</title><link type="text/css" href="/styles.css" rel="stylesheet">
    <style type="text/css">
      .evilstuff {
        top: 0.5em !important;
        right: 16em !important;
      }
      .stillevil {
        white-space: nowrap !important;
      }
      .evilmod:checked ~ form .stillevil {
        display: table-cell !important;
      }
    </style>
  </head>
  <body class="mod">
    ${navigation}
${search_form}
${evil_mod}
      <table class="datatable"><tr><th>sent</th><th>board</th><th>sender</th><th>subject</th><th class="stillevil">delete</th><th>message</th></tr>
${content}
      </table>
    </form>
  </body>
</html>
