      <tr>
        <td class="dontwrap">${sent}</td>
        <td class="dontwrap">${group_name}</td>
        <td>${sender}</td>
        <td><a href="/${link}" target="_blank">${subject}</a></td>
        <td class="message_span">${message}</td>
      </tr>
