<html>
  <head>
    <title>postman settings</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <link type="text/css" href="/censor.css" rel="stylesheet">
  </head>
  <body class="mod">
    ${navigation}
${modify_user}    <div class="box">
      <b>allow user key</b>
      <table border="0px" class="datatable">
        <tr><th>&nbsp;&nbsp;&nbsp;</th><th>local_name</th><th>&nbsp;postcount</th><th>&nbsp;last login</th><th>&nbsp;expires</th><th>&nbsp;status</th><th>&nbsp;<a href="postman?new">add key</a></th></tr>
${allow_userkey}
      </table>
    </div>
    <br />
    <div class="box">
      <b>disallow</b>
      <table border="0px" class="datatable">
        <tr><th>&nbsp;&nbsp;&nbsp;</th><th>local_name</th><th>&nbsp;postcount</th><th>&nbsp;last login</th><th>&nbsp;expires</th><th>&nbsp;</th></tr>
${disallow_userkey}
      </table>
    </div>
${help}
  </body>
</html>
