    <form action="${search_action}" enctype="multipart/form-data" method="GET">
      <div>
        <span>Search: <input type="text" name="q" value="${search_target}" class="posttext" maxlength="64"/><input type="submit" value="GO" class="postbutton"/> count: <input type="text" name="c" value="${count}"/></span>
      </div>
    </form>
    <br />