    <form action="${search_action}" enctype="multipart/form-data" method="GET">
      <div class="box">
        <span>Search: <input type="text" name="q" value="${search_target}" class="posttext" maxlength="64"/><input type="submit" value="GO" class="postbutton"/></span>
      </div>
    </form>
    <br />