<html>
  <head>
    <link type="text/css" href="/styles.css" rel="stylesheet">
  </head>
  <body class="mod">
    <center>${message}<center>
    <br />
    <form action="${target}" enctype="multipart/form-data" method="POST">
      <label>your secret</label>&nbsp;<input type="text" name="secret" style="width: 400px;"/><input type="submit" />
    </form>
  </body>
</html>
