<html>
  <head>
    <title>Settings</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <link type="text/css" href="/censor.css" rel="stylesheet">
  </head>
  <body class="mod">
    ${navigation}
    <div class="float">
      <table border="0px" class="datatable">
        <tr>
          <th class="data_center">posts</th>
          <th>Board</th>
${flag_names}
          <th class="actions"><a href="settings?new">create</a></th>
        </tr>
${board_list}
      </table>
    </div>
    <div class="float">
${post_form}    </div>
${help}
  </body>
</html>
